<div class="app-content container center-layout mt-2">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- Sales stats -->
            <div class="row">
                <div class="col-xs-12">



                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-sm-12   border-right-lighten-5">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="p-2 bg-light-green white media-body text-xs-left">
                                            <h5>TỔNG KÊNH</h5>
                                            <h5 class="text-bold-400">5,363</h5>
                                        </div>
                                        <div class="p-2 text-xs-center  bg-light-green bg-darken-2 media-right media-middle " style="cursor: pointer;" data-toggle="popover" data-content="<p></p><b><i class='icon-android-arrow-forward'></i> TỔNG KÊNH SỐNG : 2,423 <br/>
                                                            <br/><i class='icon-android-arrow-forward'></i> TỔNG KÊNH CHẾT : 24</b> <br/> <hr/ style='border-color:#cccccc'> <div class='form-group'>
                                    <div class='btn-group' role='group' aria-label='Basic example'>
                                        <a href='/go-admin/manage-channel' class='btn btn-light-green btn-round'>QUẢN LÝ TỔNG KÊNH</a>
                                       
                                    </div>
                                </div> " data-original-title=" <i class='icon-bar-graph-2'></i> THỐNG KÊ TỔNG KÊNH" data-html="true" data-placement="bottom" aria-describedby="popover941060">
                                            <i class="icon-youtube font-large-2 white"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-3 col-lg-6 col-sm-12   border-right-lighten-5">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="p-2  bg-light-green white media-body text-xs-left">
                                            <h5>CÔNG CỤ NUÔI</h5>
                                            <h5 class="text-bold-400">Dailymotion</h5>
                                        </div>
                                        <div class="p-2 text-xs-center bg-light-green  bg-darken-2 media-right media-middle " style="cursor: pointer;" data-toggle="popover" data-content="
                                        <center>
                                    <div class='btn-group' role='group' aria-label='Basic example'>
                                        <a href='/go-admin/manage-channel' class='btn btn-light-green btn-round'>TRUY CẬP NUÔI KÊNH</a>
                                       
                                    </div>
                                </center> " data-original-title=" <i class='icon-bar-graph-2'></i> BẢNG ĐIỀU KHIỂN" data-html="true" data-placement="bottom" aria-describedby="popover941060">
                                            <i class="icon-bar-graph-2 font-large-2 white"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-3 col-lg-6 col-sm-12   border-right-lighten-5">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="p-2  bg-light-green white media-body text-xs-left">
                                            <h5>CÔNG CỤ REUP</h5>
                                            <h5 class="text-bold-400">YT -> DM</h5>
                                        </div>
                                        <div class="p-2 text-xs-center bg-light-green  bg-darken-2 media-right media-middle " style="cursor: pointer;" data-toggle="popover" data-content="<p></p><b><i class='icon-android-arrow-forward'></i> ĐANG REUP : 2,423 <br/>
                                                            <br/><i class='icon-android-arrow-forward'></i> REUP THÀNH CÔNG : 24</b> <br/> <hr/ style='border-color:#cccccc'> <div class='form-group'>
                                    <div class='btn-group' role='group' aria-label='Basic example'>
                                        <a href='/go-admin/manage-reup' class='btn btn-light-green btn-round'>TRUY CẬP REUP KÊNH</a>
                                       
                                    </div>
                                </div> " data-original-title=" <i class='icon-bar-graph-2'></i> THỐNG KÊ REUP KÊNH" data-html="true" data-placement="bottom" aria-describedby="popover941060">
                                            <i class="icon-layers font-large-2 white"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-3 col-lg-6 col-sm-12   border-right-lighten-5">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="p-2  bg-light-green white media-body text-xs-left">
                                            <h5>CÀI ĐẶT</h5>
                                            <h5 class="text-bold-400">Trình quản lý</h5>
                                        </div>
                                        <div class="p-2 text-xs-center bg-light-green  bg-darken-2 media-right media-middle " style="cursor: pointer;" data-toggle="popover" data-content="
                                                            <center>
                                    <div class='btn-group' role='group' aria-label='CÀI ĐẶT'>
                                        <a href='/go-admin/manage-channel' class='btn btn-light-green btn-round'> TRUY CẬP CÀI ĐẶT </a>
                                </div> </center>" data-original-title=" <i class='icon-cog3'></i> BẢNG ĐIỀU KHIỂN" data-html="true" data-placement="bottom" aria-describedby="popover941060">
                                            <i class="icon-cog3 font-large-2 white"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <!--/ Sales stats -->
