<% include ../layout/admin/header-admin %>
        <!-- Horizontal navigation-->
<% include ../layout/admin/nav-admin %>
        <!-- Horizontal navigation-->
<% include ../layout/admin/submenu-admin %>

            <div class="row">
                <div class="col-xs-12">
                    <div class="card box-shadow-0">
                        <div class="card-header card-head-inverse bg-light-green">
                            <h4 class="card-title">Success Bordered Card</h4>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body collapse in">
                            <div class="card-block">
                                <p class="card-text">Use <code>border-success</code> class for success border color.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<% include ../layout/admin/footer-admin %>